/**
 * General Widths
 */
.width-100{width: 100%;}
.width-90{width: 90%;}
.width-80{width: 80%;}
.width-70{width: 70%;}
.width-60{width: 60%;}
.width-50{width: 50%;}
.width-40{width: 40%;}
.width-30{width: 30%;}
.width-20{width: 20%;}
.width-10{width: 10%;}
/**
 * Customizating inputs and buttons
 * Removing some default features
 */
input[type="submit"],
button{
	border: none;
	margin: 0!important;
	outline: none;
	cursor: pointer;
}
/**
 * Red Button customization
 * E.g: <a class=".redBtn" href="#">Button</a>
 */
.redBtn{
	padding: 10px 15px 10px 15px;
	float: left;

	text-align: center;
	text-decoration: none;
	font-family: arial;
	font-size: 14px;
	font-weight: normal;

	color: #fff;
	background: #e74c3c;
	border-radius: 8px;

	transition: 0.1s;
}
.redBtn:hover{
	background: #d34637;
}
.redBtn:active{
	background: #a03b30;
	text-shadow: 1px 1px #000;
}
/**
 * Green Button customization
 * E.g: <a class=".greenBtn" href="#">Button</a>
 */
.greenBtn{
	padding: 10px 15px 10px 15px;
	float: left;

	text-align: center;
	text-decoration: none;
	font-family: arial;
	font-size: 14px;
	font-weight: normal;

	color: #fff;
	background: #2ecc71;
	border-radius: 8px;

	transition: 0.1s;
}
.greenBtn:hover{
	background: #27a55c;
}
.greenBtn:active{
	background: #1e8449;
	text-shadow: 1px 1px #000;
}
/**
 * Yellow Button customization
 * E.g: <a class=".yellowBtn" href="#">Button</a>
 */
.yellowBtn{
	padding: 10px 15px 10px 15px;
	float: left;

	text-align: center;
	text-decoration: none;
	font-family: arial;
	font-size: 14px;
	font-weight: normal;

	color: #fff;
	background: #dfdd1e;
	border-radius: 8px;

	transition: 0.1s;
}
.yellowBtn:hover{
	background: #bbb91a;
}
.yellowBtn:active{
	background: #8a8913;
	text-shadow: 1px 1px #000;
}
/**
 * Blue Button customization
 * E.g: <a class=".blueBtn" href="#">Button</a>
 */
.blueBtn{
	padding: 10px 15px 10px 15px;
	float: left;

	text-align: center;
	text-decoration: none;
	font-family: arial;
	font-size: 14px;
	font-weight: normal;

	color: #fff;
	background: #287ae0;
	border-radius: 8px;

	transition: 0.1s;
}
.blueBtn:hover{
	background: #2264b5;
}
.blueBtn:active{
	background: #18467f;
	text-shadow: 1px 1px #000;
}