/**
 *
 *	=================================================
 *
 *				The main stylesheet
 *				    22 July 2014
 *
 *	=================================================
 *
 */


/**
 * Importing other css files
 * for file size reduction
 * and efficiency
 */
@import 'reset.css';
@import 'ui-elements.css';
@import 'bootstrap.css';
/**
 * ---------------
 * Global elements
 * ---------------
 */
body{background: #f5f5f5;}
	/**
	 * Exceptions:
	 * 	- Login page (background: #293a4b)
	 */
.centerize{margin: 0 auto;}
.row{margin: 0!important;}
.no-padding{padding: 0!important;}
.no-margin{margin: 0!important;}
.right{float: right!important;}



/**
 * ----------
 * Login Page
 * ----------
 */
#login-row{
	padding: 10% 0% 3% 0%;
}
#lostPassword{
	padding: 1% 0% 1% 0%;
	text-decoration: none;
	font-family: arial;
	font-size: 14px;
	font-weight: normal;
	color: #fff;
	float: right;
}




/**
 * ---------
 * Dashboard
 * ---------
 */

/**
 * Left Bar Navigation
 *
*/
#dashNavLeft{
	background: #2a2a2a;
	min-height: 500px;
}

/**
 * ---
 * First Level
 * ---
 */
#dashNavLeft ul{padding: 5% 0% 5% 0%;}
#dashNavLeft ul li{
	text-align: left;
	transition: 0.2s;
}
#dashNavLeft ul li a{
	display: block;

	line-height: 25px;
	padding: 1% 0% 1% 5%;
	text-decoration: none;
	font-family: arial;
	font-size: 14px;
	font-weight: normal;
	color: #fff;
	transition: 0.2s;
}
#dashNavLeft ul li:hover{background: #171717;}
#dashNavLeft ul li a:hover{background: #171717;}
/**
 * ---
 * Second Level
 * ---
 */
#dashNavLeft ul li ul{
	padding: 5% 0% 5% 0%;
	display: none;
}
#dashNavLeft ul li ul li a{
	display: block;

	padding: 1% 0% 1% 10%;
	text-decoration: none;
	font-family: arial;
	font-size: 12px;
	font-weight: normal;
	color: #fff;
	transition: 0.2s;
}
#dashNavLeft ul li ul li a:hover{
	background: #000;
}

/**
 * Top Bar Navigation
 */
#dashNavTop{
	background: #FFF;
	border-bottom: 1px solid #ecf0f1;
	box-shadow: 0px 0px 15px #bdc3c7;
}

/**
 * Dashboard Content
 */
#dashContentHolder{padding-top: 5%;padding-bottom: 5%;}
#dashLogoHolder{padding-top: 5%;}

#dashContent{
	background: #FFF;
	border: 1px solid #F0F0F0;
	box-shadow: 0px 0px 1px #bdc3c7;
	border-top-left-radius: 3px;
	border-top-right-radius: 3px;
}

/**
 * Dashboard Title
 */
#dashPageTitle{
	margin: 1% 0% 1% 0%;
	font-family: arial;
	font-size: 24px;
	font-weight: normal;
	color: #171717;

	transition: 0.2s;
	border-bottom: 1px dotted #bdc3c7;
}

/**
 * Dashboard Footer
 */

#dashFooterHolder{
	background: #171717;
}

#dashFooterContainer{
	min-height: 300px;
}