@import "reset.css";
@import "wysiwyg.css";
@import "prettyPhoto.css";


/* ===== General ===== */

a { text-decoration:none; }
a:hover { text-decoration: none; }

html { height: 100%; }
body { background: url(../images/body_bg.jpg) repeat; font-family: 'Cuprum', sans-serif; font-weight: normal; min-height: 100%; position: relative; margin: 0; padding: 0; }

.fix { clear: both; }
.add { margin-top: 10px; }
.first { margin-top: 0px!important; }
.post { margin-left:0px!important; }
.nobg { background: none!important; }
button.nobg { background: none; }
select { overflow: auto; }


/* ===== Header ===== */

#header {

	height: 106px;
	clear: both;

}

.logo {

	width: 250px;
	height: 100%;
	float: left;

}
	.logo > a {

		display: block;
		margin-top: 30px;

	}

#notifications {

	width: 730px;
	height: 100%;
	float: left;

}
	#notifications > div {

		height: 50px;
		margin: 30px 2px 0 4px;

	}


#wysiwyg-content {

	margin-left:35px;
	margin-bottom:10px;

}



.content_type {

	font-size: 12px;
	margin-left: -10px;
	margin-top: 5px;

}

div.formRight label.error { color:#FF0000; }


/* ===== Buttons ===== */
.basicBtn {  background: url(../images/buttons/basicBtn.png) repeat-x 0 0; }
.basicBtn:hover { background-position: 0 -27px; }
.basicBtn:active { background-position: 0 -54px; }

.blueBtn { background: url(../images/buttons/blueBtn.png) repeat-x 0 0; }
.blueBtn:hover { background-position: 0 -27px; }
.blueBtn:active { background-position: 0 -54px; }

.redBtn { background: url(../images/buttons/redBtn.png) repeat-x 0 0; }
.redBtn:hover { background-position: 0 -27px; }
.redBtn:active { background-position: 0 -54px; }

.blackBtn { background: url(../images/buttons/blackBtn.png) repeat-x 0 0; }
.blackBtn:hover { background-position: 0 -27px; }
.blackBtn:active { background-position: 0 -54px; }


/* ===== Top Nav ===== */
#topNav {

	height: 46px;
	display: block;

}

.fixed {

	position: fixed;
	background: url(../images/topNav.jpg) repeat;
	width: 100%;
	color: #eeeeee;
	border-bottom: 1px solid #4a4f51;
	z-index: 999;

}

.wrapper {

	width: 980px;
	min-height: 0px;
	overflow: hidden;
	margin: auto;

}

.back a:hover { background: #212121; }

.back span {

	padding: 8px 14px 8px 8px;
	display: block;
	float: left;

}

.back img {

	margin: 13px 2px 11px 14px;
	float: left;
	display: block;

}

.back a {

	float: left;
	color: #eeeeee;
	font-size: 11px;
	border-right: 1px solid #2F2F2F;
	border-left: 1px solid #2F2F2F;

}

.userNav {

	float: right;
	z-index: 6000;
	position: relative;
	font-size: 11px;

}
.userNav .lastNav {

	width: 2px;
	height: 36px;
	background: url(../images/navSep.png) repeat-y;
	position: absolute;
	top: 0;
	right: 0;

}

.userNav ul { margin-right: 2px; }

.userNav ul li {

	display: inline;
	float: left;
	position: relative;
	cursor: pointer;
	border-right: 1px solid #2f2f2f;

}

.userNav ul li:first-child { border-left: 1px solid #2f2f2f; }

.userNav ul li a {

	color: #eeeeee;
	text-decoration: none;
	display: block;
	float: left;

}

.userNav ul li:hover, .selected { background: #212121; }

.userNav ul li span {

	display: block;
	padding: 10px 14px 8px 8px;
	float: left;

}

.userNav ul li img {

	float: left;
	display: block;
	margin: 13px 2px 11px 14px;

}

.userNav ul li ul {

	position: absolute;
	left: -1px;
	display: none;
	top: 35px;
	margin-top: 0px;
	background: #2f2f2f;
	padding: 0 1px 1px 1px;
	border: 1px solid #1d1d1d;
	z-index: 100;

}

.userNav ul li ul li {

	display: block;
	float: none;
	border-top: 1px solid #2f2f2f;
	background: #212121;
	border-right: none;
	border-bottom: 1px solid #141414;

}

.userNav ul li ul li:first-child { border-left: none!important; }

.userNav ul li ul li a {

	width: 100px;
	padding: 6px 10px 7px 36px;
	font-size: 11px;
	text-transform: none;
	color: #c5c5c5;
	font-weight: normal;
	background-color: none;
	float: none;

}

.userNav ul li ul li a:hover {

	background-color: none;
	font-weight: normal;
	color: #a4a4a4;

}

.userNav ul li ul li:hover { background: #1d1d1d!important; }

.welcome { float: left; }
.welcome img {

	float: left;
	margin: 8px 8px 8px 0;

}

.welcome span {

	padding: 10px 5px;
	display: block;
	white-space: nowrap;
	float: left;
	font-size: 11px;

}

/* ===== Forms ===== */

/* ----- errors ----- */
label.allRequired { width: 300px!important; color: #bf3125!important; }
div.submitRight { width: 200px; }
div.submitRight input { float: right; }

.loginPanel label { width: 60px; }

.req {

	margin-left: 5px;
	color: #DB6464;

}

.loginPanel .inputError {

	width: 150px;
	height: 10px;
	margin-left: 100px;
	padding-top: 10px;
	float: left;

}

#log_in_error {

	width: 170px;
	height: 30px;
	float: left;
	margin-left: 25px;

}

#log_in_error p {

	color: #bf3125;
	font-size: 12px;
	margin: 8px 10px 10px 10px;

}

.loginPanel label.error {

	width: 100%;
	margin-left: 8px 0px -8px;
	color: rgb(147, 147, 147);
	font-size: 11px;
	padding:0px !important;

}

.mainForm label {

	margin-right: 15px;
	display: block;
	float:left;
	padding: 3px 12px;
	color:#fff;

}

.loginInput {

	width: 196px;
	float: left;

}

.loginRow {

	border-top: 1px solid #363B3E;
	padding: 16px 0;
	position: relative;
	border-bottom: 1px solid #24272B;

}

input[type=submit], input[type=reset], input[type=button], button, .button {

	font-size: 10px;
	font-weight: bold;
	text-transform: uppercase;
	padding: 7px 14px 7px 14px;
	cursor: pointer;
	font-family: Arial, Helvetica, sans-serif;
	line-height: 12px;
	border: 1px solid #292d2f;
	-moz-box-shadow: 0 0 2px #545454;
	color: #fff;
	-webkit-box-shadow: 0 0 2px #545454;
	box-shadow: 0 0 2px #545454;

}

.mainForm input[type=text], .mainForm textarea, .mainForm input[type=password] {

	background: #25292b;
	width: 100%;
	padding: 6px 5px;
	font-size: 11px;
	font-family: Arial, Helvetica, sans-serif;
	color: #d5d5d5;
	border: 1px solid #1e2226;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	-ms-box-sizing: border-box;
	box-sizing: border-box;
	-moz-box-shadow: 0 1px 0 #363B3E;
	-webkit-box-shadow: 0 1px 0 #363B3E;
	box-shadow: 0 1px 0 #363B3E;

}

.mainForm input[type=text]:hover, .mainForm input[type=password]:hover, .mainForm textarea:hover { background: #24282a; }

.mainForm input[type=text]:focus, .mainForm input[type=password]:focus, .mainForm textarea:focus {

	border: 1px solid #1a1f23 ;
	background: #24282a;

}

.submitForm {

	float: right;
	margin: 1px 16px 0/*22px*/ 16px;

}

.widget, .content .title, .count, .table, .breadCrumb,, .leftNav ul li a, .pages li a, .loginPanel, .customfile, ul.sub, {

	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	-khtml-border-radius: 3px;
	border-radius: 3px;

}

#valid input { position: relative; }

.rowElem {

	clear: both;
	padding: 10px 16px;
	position: relative;
	background: url(../images/linesSep.png) repeat-x 0 0;

}

.rowElem > label {

	padding: 16px 30px;
	width: 100px;

}

.formRight {

	float: right;
	width: 512px;
	margin: 13px 0;

}

div.selector {

	position: relative;
	height: 26px;
	background: url(../images/select_left.png) no-repeat top left;
	float: left;
	width: 190px;
	position: relative;
	padding-left: 10px;
	-moz-box-shadow: 0 1px 0 #363B3E;
	-webkit-box-shadow: 0 1px 0 #363B3E;
	box-shadow: 0 1px 0 #363B3E;

}

div.selector select {

	width: 200px;
	cursor: pointer;
	font-size: 12px;
	position: absolute;
	height: 26px;
	top: 0;
	left: 0;

}

div.selector span {

	/*padding-right: 32px;*/
	width: 190px;
	cursor: pointer;
	position: absolute;
	right: 0;
	height: 26px;
	background: url(../images/select_right.png) no-repeat center right;
	top: 0;
	line-height: 26px;
	font-size: 11px;

}

.fileInput {

	background: #24282A;
	border: 1px solid #1E2226;
	padding: 5px;
	font-size: 11px;
	font-family: Arial, Helvetica, sans-serif;
	-moz-box-shadow: 0 1px 0 #363B3E;
	-webkit-box-shadow: 0 1px 0 #363B3E;
	box-shadow: 0 1px 0 #363B3E;
	color: #d5d5d5;

}

.fileInput:hover { background: #24282a; }

.fileInput:focus {

	border: 1px solid #1a1f23;
	background: #24282a;

}

div.uploader {

	width: 240px;
	position: relative;
	overflow: hidden;
	border: 1px solid #1E2226;
	background: #25292B;
	padding: 2px 2px 2px 8px;
	-moz-box-shadow: 0 1px 0 #363B3E;
	-webkit-box-shadow: 0 1px 0 #363B3E;
	box-shadow: 0 1px 0 #363B3E;

}

div.uploader span.action {

	width: 22px;
	background: url(../images/addFiles.png) no-repeat 0 0;
	height: 22px;
	font-size: 11px;
	font-weight: bold;
	cursor: pointer;
	float: right;
	text-indent: -9999px;
	display: inline;
	overflow: hidden;
	cursor: pointer;

}

div.uploader:hover span.action { background-position: 0 -27px; }

div.uploader:active span.action { background-position: 0 -54px; }

div.uploader span.filename {

	color: #777;
	max-width: 200px;
	font-size: 11px;
	line-height: 22px;
	float: left;
	display: block;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
	cursor: default;

}

div.uploader input {

	width: 266px;
	opacity: 0;
	filter: alpha(opacity:0);
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	float: right;
	height: 26px;
	border: none;
	cursor: pointer;

}

.uploader {

	display: -moz-inline-box;
	display: inline-block;
	vertical-align: middle;
	zoom: 1;
	*display: inline;

}

/* ===== Footer ===== */
#footer {

	/*clear: both;
	height: 36px;*/
	background: url(../images/topNav.jpg) repeat;
	width: 100%;
	color: #eeeeee;
	margin-top: 42px;
	position: absolute;
	bottom: 0px;

}

#footer span {

	color: #696969;
	padding: 9px 5px;
	display: block;
	font-size: 11px;

}

#footer span a { color: #eeeeee; }

/* ===== Login ===== */
.loginWrapper {

	margin: -106px 0 0 -160px;
	position: absolute;
	top: 50%;
	left: 50%;

}
.loginPanel {

	width: 320px;
	background: url(../images/widgetBg.png) repeat;
	border: 1px solid #2A2E34;
	border-top: 0;
	display: block;
	/*height: 222px; */
	box-shadow:inset 0 0 2px #272b2c;
	-moz-box-shadow:inset 0 0 2px #272b2c;
	-webkit-box-shadow: inset 0 0 2px #272b2c;
	-moz-box-shadow: 0 1px 0 #4b4e50;
	-webkit-box-shadow: 0 1px 0 #4b4e50;
	box-shadow: 0 1px 0 #4b4e50;

}

.head {

	background: url(../images/titleBg.png) repeat-x;
	height: 38px;
	border-top: 1px solid #24272b;
	border-bottom: 1px solid #24272b;
	position: relative;
	color: #fafafa;

}

.loginLogo {

	position: absolute;
	width: 190px;
	height: 44px;
	display: block;
	top: -80px;
	left: 50%;
	margin-left: -110px;

}

.loginPanel h5 {

	font-weight: normal;
	padding: 9px 12px 9px 35px;
	float: left;

}

.iUser { background: url(../images/user.png) no-repeat 12px; }

.head, ul.tabs {

	border-top-left-radius: 3px;
	border-top-right-radius: 3px;
	-moz-border-radius-topright: 3px;
	-moz-border-radius-topleft: 3px;
	-webkit-border-top-right-radius: 3px;
	-webkit-border-top-left-radius: 3px;

}

/* ===== LeftNav ===== */
.leftNav {

	width: 212px;
	margin-top: -1px;
	float: left;
	margin-right: 41px;
	margin-bottom: 80px;

}

.leftNav .last { border-bottom: none; }

.leftNav ul li { position: relative; }

.leftNav ul li a {

	color: #fafafa;
	font-size: 15px;
	display: block;
	background: url(../images/titleBg.png) repeat-x 0 0;
	border: 1px solid #2e3234;
	margin-top: 1px;

}

.leftNav ul li a:hover {

	background-position: 0 -39px;
	color: #fafafa;
	border: 1px solid #252a31;

}

.leftNav ul li a.active { background-position: 0 -78px; }

.leftNav ul li a span {

	padding: 9px 0 9px 35px;
	display: block;

}

.numberLeft {

	margin: 0;
	position: absolute;
	top: 12px;
	right: 8px;
	font-size: 11px;
	font-family: Arial, Helvetica, sans-serif;
	float: none;
	background: url(../images/number.png) repeat-x!important;
	padding: 2px 6px!important;
	-moz-box-shadow: 0 1px 0 #4f565a;
	-webkit-box-shadow: 0 1px 0 #4f565a;
	box-shadow: 0 1px 0 #4f565a;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	-khtml-border-radius: 3px;
	border-radius: 3px;

}

.leftNav ul li a span {

	background-position: 10px center;
	background-repeat: no-repeat;

}

.leftNav ul li.dashboard a span { background-image : url(../images/menu_icons/dashboard.png); }
.leftNav ul li.pages a span { background-image : url(../images/menu_icons/pages.png); }
.leftNav ul li.modules a span { background-image : url(../images/menu_icons/modules.png); }
.leftNav ul li.settings a span { background-image : url(../images/menu_icons/settings.png); }

.widget, .content .title, .count, .widget .num a, a.count1, .table, .breadCrumb, .earnings, .leftNav ul li a, .listData .cNote, .pages li a, .errorPage, .btn14, .btn55, .loginPanel, .customfile, ul.sub, .middleNav ul li a, .searchWidget input[type=text], .nNote {

	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	-khtml-border-radius: 3px;
	border-radius: 3px;

}
.widget, ul.sub {

	box-shadow:inset 0 0 2px #272b2c;
	-moz-box-shadow:inset 0 0 2px #272b2c;
	-webkit-box-shadow: inset 0 0 2px #272b2c;

	-moz-box-shadow: 0 1px 0 #4b4e50;
	-webkit-box-shadow: 0 1px 0 #4b4e50;
	box-shadow: 0 1px 0 #4b4e50;

}

ul.sub {

	border: 1px solid #272c30;
	border-top: none;
	background: url(../images/widgetBg.png) repeat;

}

ul.sub li {

	border-bottom: 1px dotted #24272B;
	padding: 1px;

}

ul.sub li a {

	background: url(../images/arrow.gif) no-repeat 8px 16px;
	border: none;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 11px;
	padding: 8px 10px 8px 18px;
	color: #d5d5d5;

}

ul.sub li a:hover, .sub li a:active {

	font-style: normal;
	border: none;
	background: url(../images/arrow.gif) no-repeat 8px 16px;

}

ul.sub li ul {

	border: none;
	border-top: 1px solid #c9c9c9;

}

ul.sub li ul li { padding-left: 10px; }

/* ===== Content ===== */
.content {

	float: left;
	width: 726px;
	padding-bottom: 60px;

}

.content .title {

	background: url(../images/pageTitleBg.png) repeat-x;
	height: 36px;
	width: 726px;
	-moz-box-shadow: 0 1px 0 #4c5154;
	-webkit-box-shadow: 0 1px 0 #4c5154;
	box-shadow: 0 1px 0 #4c5154;
	margin-top: 1px;

}

.content .title h5 {

	float: left;
	color: #fafafa;
	font-weight: normal;
	display: block;
	padding: 7px 15px;

}

.content p {

	margin-top:30px;
	margin-left:10px;
	color:#fff;

}

/* ===== Table ===== */
.widget {

	/*width: 342px;*/
	/*width: 100%;*/
	margin-top: 40px;
	border: 1px solid #272c30;
	display: block;
	background: url(../images/widgetBg.png) repeat;
	clear: both;
	border-top: none;
	color:#fff;

}
.widget, ul.sub {

	box-shadow:inset 0 0 2px #272b2c;
	-moz-box-shadow:inset 0 0 2px #272b2c;
	-webkit-box-shadow: inset 0 0 2px #272b2c;

	-moz-box-shadow: 0 1px 0 #4b4e50;
	-webkit-box-shadow: 0 1px 0 #4b4e50;
	box-shadow: 0 1px 0 #4b4e50;

}
.widget .head h5, .table h5 {

	font-weight: normal;
	padding: 8px 12px 9px 15px;
	float: left;

}
.titl {

	font-weight: normal;
	padding: 8px 12px 9px 35px;
	float: left;

}
.tableStatic thead td {

	padding: 3px 0 2px 0;
	text-align: center;
	border-left: 1px solid #3B4144;
	background: #efefef url(../images/darkerBg.png) repeat;
	border-bottom: 1px solid #3B4144;
	font-size: 11px;
	color: #54585d;

}

.tableStatic thead td:first-child { border-left: none; }

.tableStatic tbody tr { border-top: 1px solid #3B4144; }

.tableStatic tbody tr:nth-child(even) { background: url(../images/darkerBg.png) repeat; }

.tableStatic tbody td {

	border-left: 1px solid #343a3d;
	padding: 8px 10px;
	vertical-align: middle;

}

.tableStatic tbody td:first-child { border-left: none; }

/* ===== PlupLoad ===== */
.plupload_button {

	font-size: 10px;
	font-weight: bold;
	text-transform: uppercase;
	color: #fff;
	line-height: 12px;
	margin-top: 3px;

}

.plupload_start {

	float: left;
	background: url(../images/greenBtn.png) repeat-x 0 0;
	border: 1px solid #292d2f;
	color: #fff;

}

.plupload_start span {

	background: url(../images/upload.png) no-repeat 10px;
	padding: 6px 13px 6px 26px;
	display: block;

}

.plupload_start:hover { background-position: 0 -27px; }

.plupload_start:active { background-position: 0 -54px; }

.plupload_disabled, a.plupload_disabled:hover {

	color: #a6a6a6;
	border: 1px solid #2e3337;
	background: #32373b;
	cursor: default;

}

.plupload_disabled span {

	padding: 5px 13px 6px 13px;
	background-image: none!important;

}

.plupload_add {

	margin-right: 15px;
	background: url(../images/basicBtn.png) repeat-x 0 0;
	float: left;
	border: 1px solid #292d2f;
	color: #fff;

}

.plupload_add span {

	background: url(../images/add.png) no-repeat 10px;
	padding: 6px 13px 6px 26px;
	display: block;

}

.plupload_add:hover { background-position: 0 -27px; }

.plupload_add:active { background-position: 0 -54px; }

.plupload_wrapper {

	font-size: 11px;
	width: 100%;

}

.plupload_container {  }

.plupload_container input {

	border: 1px solid #DDD;
	font-size: 11px;
	width: 98%;

}

.plupload_filelist {

	margin: 0;
	padding: 0;
	list-style: none;

}

.plupload_scroll .plupload_filelist {

	height: 185px;
	background: url(../images/widgetBg.png) repeat;
	overflow-y: auto;

}

.plupload_filelist li {

	padding: 10px 12px;
	background: url(../images/widgetBg.png) repeat;
	border-bottom: 1px solid #343a3d;

}

.plupload_filelist li:nth-child(even) { background: url(../images/darkerBg.png) repeat; }

.plupload_filelist li:hover { background: ; }

.plupload_filelist_header {

	background: url(../images/darkerBg.png) repeat-x 0 1px;
	padding: 3px 12px;
	color: #54585D;

}

.plupload_filelist_footer {

	background: url(../images/titleBg.png) repeat-x;
	padding: 3px 12px;
	color: #878787;

}

.plupload_filelist_header {	border-bottom: 1px solid #363b3e; }

.plupload_filelist_footer {

	border-top: 1px solid #3B4144;
	height: 31px;
	line-height: 30px;
	vertical-align: middle;

}
.plupload_file_name {

	float: left;
	overflow: hidden;

}
.plupload_file_status {  }

.plupload_total_status { color: #878787!important }

.plupload_file_status span { color: #54585D; }

.plupload_file_size, .plupload_file_status, .plupload_progress {

	float: right;
	width: 80px;

}

.plupload_file_size, .plupload_file_status, .plupload_file_action { text-align: right; }

.plupload_filelist .plupload_file_name { width: 205px; }

.plupload_file_action {

	float: right;
	width: 14px;
	margin-top: 3px;
	height: 14px;
	margin-left: 30px;

}

.plupload_file_action * {

	display: none;
	width: 14px;
	height: 14px;

}

li.plupload_uploading {  }

li.plupload_done { color: #AAA; }

li.plupload_delete a { background: url(../images/deleteFile.png) no-repeat 0; }

li.plupload_failed a {

	background: url(../images/error.png) no-repeat 0;
	cursor: default;

}

li.plupload_done a {

	background: url(../images/uploaded.png) no-repeat 0;
	cursor: default;

}

.plupload_progress, .plupload_upload_status { display: none; }

.plupload_progress_container {

	margin-top: 10px;
	border: 1px solid #CCC;
	background: #FFF;
	padding: 1px;

}

.plupload_progress_bar {

	width: 0px;
	height: 7px;
	background: #CDEB8B;

}
.plupload_scroll .plupload_filelist_header .plupload_file_action, .plupload_scroll .plupload_filelist_footer .plupload_file_action { /*margin-right: 17px;*/ }

/* Floats */
.plupload_clear,.plupload_clearer { clear: both; }

.plupload_clearer, .plupload_progress_bar {

	display: block;
	font-size: 0;
	line-height: 0;

}

li.plupload_droptext {

	background: transparent;
	text-align: center;
	vertical-align: middle;
	border: 0;
	line-height: 165px;

}

/* ===== Tooltip ===== */

.tipsy {

	padding: 4px;
	font-size: 10px;
	opacity: 0.8;
	filter: alpha(opacity=80);
	background-repeat: no-repeat;
	background-image: url(../images/tipsy.gif);

}

.tipsy-inner {

	padding: 2px 8px 2px 8px;
	background-color: black;
	color: white;
	max-width: 200px;
	text-align: center;

}

.tipsy-inner {

	-moz-border-radius:3px;
	-webkit-border-radius:3px;

}

.tipsy-north { background-position: top center; }

.tipsy-south { background-position: bottom center; }

.tipsy-east { background-position: right center; }

.tipsy-west { background-position: left center; }


/* ===== Dashboard ===== */

.left {

	width: 344px;

}

/* ===== Gallery ===== */

.pics {

	padding-bottom: 14px;
	margin: auto;
	padding: 0 6px 14px 6px;
	text-align: center;

}

.pics ul li {

	display: inline-block;
	height: 102px;
	margin: 16px 6px 0 6px;
	border: 1px solid #1E2226;
	position: relative;
	-moz-box-shadow: 0 1px 0 #363B3E;
	-webkit-box-shadow: 0 1px 0 #363B3E;
	box-shadow: 0 1px 0 #363B3E;

}

.pics ul li a img {

	max-height: 102px;

}

.single {

	width: 130px;
	margin: 0;

}

.pics ul li:hover { border-color: #1d2125; }

.pics .actions {

	background: #000;
	opacity: 0.8;
	position: absolute;
	bottom: 0;
	right: 0;
	display: none;

}

.pics .actions a {

	color: #fff;
	font-size: 11px;
	display: block;
	padding: 3px 4px;
	float: left;

}

.pics .actions a input {

	position: absolute;
	width: 12px;
	height: 12px;
	opacity: 0;
	right: 3px;
	cursor: pointer;

}

.pics .actions a:first-child { padding-right: 4px; }

/* ===== UI Dialog ===== */

.ui-dialog { position: absolute; padding: 5px; width: auto; background: url(../images/alert/alertOpacityOverlay.png) repeat; -moz-border-radius: 5px; -webkit-border-radius: 5px; border-radius: 5px; }
.ui-dialog input[type=text] { width: 96%!important; margin: 12px 0 10px 0; }
.ui-dialog form { text-align: center; }
.ui-dialog .icon { padding: 1px 6px 0 0; float: left; }
.ui-dialog p { padding: 0!important; }
.ui-dialog .ui-dialog-titlebar { position: relative; background: url(../images/alert/titleBg.png) repeat-x; border: 1px solid #24272B; border-bottom: 0; height: 38px; color: #FAFAFA; }
.ui-dialog .ui-dialog-title { float: left; height: 38px; font-size: 16px; padding: 0 12px 0 12px; line-height: 38px; }
.ui-dialog .ui-dialog-titlebar-close { position: absolute; right: 6px; top: 50%; width: 19px; margin: -10px 0 0 0; padding: 1px; height: 18px; }
.ui-dialog .ui-dialog-titlebar-close span { display: block; margin: 1px; opacity: 0.6; }
.ui-dialog .ui-dialog-titlebar-close:hover, .ui-dialog .ui-dialog-titlebar-close:focus { padding: 1px; background: transparent; }
.ui-dialog .ui-dialog-content { position: relative; overflow: auto; zoom: 1; padding: 10px 12px; background: url(../images/alert/widgetBg.png) repeat; border: 1px solid #121212; border-top: none; }
.ui-dialog .ui-dialog-buttonpane { padding: 0 12px; font-size: .9em; background: url(../images/alert/titleBg.png) repeat-x; border: 1px solid #24272B; border-top: none; height: 36px; }
.ui-dialog .ui-dialog-buttonpane .ui-dialog-buttonset { /*float: right;*/ text-align: center; margin: 0 2px; }
.ui-dialog .ui-dialog-buttonpane button { font-size: 10px; font-weight: bold; text-transform: uppercase; padding: 3px 12px 4px 12px; cursor: pointer; font-family: Arial, Helvetica, sans-serif; border: 1px solid #292D2F; color: #fafafa; margin: 7px 0 5px 0; background: url(../images/buttons/basicBtn.png) repeat-x 0 0; }
.ui-dialog .ui-dialog-buttonpane button:hover { background-position: 0 -27px; }
.ui-dialog .ui-dialog-buttonpane button:active { background-position: 0 -54px; }
.ui-dialog .ui-resizable-se { width: 14px; height: 14px; right: 5px; bottom: 5px; opacity: 0.3; }
.ui-draggable .ui-dialog-titlebar { cursor: move; }

#popup_container { min-width: 300px; max-width: 600px; background: url(../images/alert/alertOpacityOverlay.png) repeat; -moz-border-radius: 5px; -webkit-border-radius: 5px; border-radius: 5px; }
#popup_title { text-align: center; background: url(../images/alert/leftNavBg.png) repeat-x; border-bottom: 1px solid #d5d5d5; cursor: default; padding: 9px 0 9px 0px; margin: 0em; height: 20px; color: #424242; }
#popup_content { background: #fafafa; padding: 1em 1.75em; margin: 0em; }
#popup_message { text-align: center; color: #424242; }
#popup_panel { text-align: center; margin: 1em 0em 0em 0em; }
#popup_message input[type=text] { background: #FCFCFC; border: 1px solid #D1D1D1; padding: 5px; width: 258px; }
#popup_prompt { margin: .5em 0em; }


/* ===== Chosen multiple select plugin with dropdown ===== */

.chzn-container { position: relative; display: inline-block; zoom: 1; *display: inline; -moz-box-shadow: 0 1px 0 #363B3E;
-webkit-box-shadow: 0 1px 0 #363B3E;
box-shadow: 0 1px 0 #363B3E; }

.noSearch .chzn-search, .searchDrop .selector, .noSearch .selector { display: none; }

/*.noSearch .chzn-drop { width: 99.6%!important; }*/
.noSearch .chzn-results { margin: 0!important; padding: 2px!important; }

/*.multi { margin-right: 0; }
.multi .chzn-container-multi { min-width: 100%; }
.multi .chzn-drop { min-width: 99.7%; }*/



.chzn-container > .chzn-drop { background: #25292B; border: 1px solid #1E2226; border-top: 0; position: absolute; top: 29px; margin-top: 2px; left: 0; z-index: 998; width: 100%!important; -webkit-box-sizing: border-box; -moz-box-sizing: border-box; -ms-box-sizing: border-box; box-sizing: border-box; }

.formRight .chzn-container-multi { width: 100%!important; }

.chzn-container-single .chzn-single { background: #25292B; border: 1px solid #1E2226; display: block; overflow: hidden; white-space: nowrap; position: relative; height: 24px; line-height: 25px; padding: 0 0 0 8px; color: #EEE; text-decoration: none; }
.chzn-container-single .chzn-single span { margin-right: 26px; display: block; font-size: 11px; overflow: hidden; white-space: nowrap; -o-text-overflow: ellipsis; -ms-text-overflow: ellipsis; text-overflow: ellipsis; }
.chzn-container-single .chzn-single abbr { display: block; position: absolute; right: 26px; top: 6px; width: 12px; height: 13px; font-size: 1px; }
.chzn-container-single .chzn-single abbr:hover { }
.chzn-container-single .chzn-single div { position: absolute; right: -1px; top: -1px; display: block; height: 28px; width: 27px; }
.chzn-container-single .chzn-single div b { background: url(../images/forms/select_right.png) no-repeat center right; display: block; width: 27px; height: 26px; }
.chzn-container-single .chzn-search { padding: 3px 4px; position: relative; margin: 0; white-space: nowrap; z-index: 1010; }
.chzn-container-single .chzn-search input { margin: 1px 0; padding: 4px 20px 4px 5px; outline: 0; border: 1px solid #aaa; font-family: sans-serif; font-size: 11px; background: url(../images/searchSmall.png) no-repeat 98% !important; box-sizing: content-box; -webkit-box-sizing: content-box; -moz-box-sizing: content-box; -ms-box-sizing: content-box; }
.chzn-container-single .chzn-drop {}

.chzn-container-single-nosearch .chzn-search input { position: absolute; left: -9000px; }

/*.chzn-container-multi { width: 50%!important; }*/
.chzn-container-multi .chzn-choices {
border: 1px solid #1E2226;
margin: 0;
cursor: text;
overflow: hidden;
height: auto !important;
height: 1%;
position: relative;
font-size: 12px;
padding: 4px;
background: #25292B;
color: #656565;
-moz-box-shadow: 0 1px 0 #363B3E;
-webkit-box-shadow: 0 1px 0 #363B3E;
box-shadow: 0 1px 0 #363B3E;
}
.chzn-container-multi .chzn-choices li { float: left; list-style: none; }
.chzn-container-multi .chzn-choices .search-field { white-space: nowrap; margin: 0; padding: 0; }
.chzn-container-multi .chzn-choices .search-field input { color: #666; background: transparent !important; border: 0 !important; font-family: sans-serif; font-size: 12px!important; padding: 11px 4px 10px 4px!important; margin: 0; outline: 0; box-shadow: none!important; }
.chzn-container-multi .chzn-choices .search-field .default { color: #999; }
.chzn-container-multi .chzn-choices .search-choice { position: relative; line-height: 16px; font-size: 11px; border: 1px solid #A5D24A; display: block; float: left; padding: 5px 24px 5px 8px; background: #CDE69C; color: #638421; margin: 4px; }

.chzn-container-multi .chzn-choices .search-choice-focus { background: #d4d4d4; }
.chzn-container-multi .chzn-choices .search-choice .search-choice-close { display: block; position: absolute; right: 6px; top: 8px; width: 10px; height: 10px; font-size: 1px; background: url(../images/forms/closeSelection.png) 50% no-repeat; }
.chzn-container-multi .chzn-choices .search-choice-focus .search-choice-close { background-position: right -11px; }

.chzn-container .chzn-results { margin: 0 4px 4px 0; max-height: 240px; padding: 0 0 0 4px; position: relative; overflow-x: hidden; overflow-y: auto; }
.chzn-container-multi .chzn-results { padding: 0; margin: 0; }
.chzn-container .chzn-results li { display: none; line-height: 14px; padding: 5px 6px; margin: 0; list-style: none; font-size: 11px; }
.chzn-container .chzn-results .active-result { cursor: pointer; display: list-item; }
.chzn-container .chzn-results .highlighted { background-color: #3875d7; color: #fff; }
.chzn-container .chzn-results li em { background: #feffde; font-style: normal; }
.chzn-container .chzn-results .highlighted em { background: transparent; }
.chzn-container .chzn-results .no-results { background: #f4f4f4; display: list-item; }
.chzn-container .chzn-results .group-result { cursor: default; color: #CDE69C; font-weight: bold; font-size: 10px; border-bottom: 1px solid #404040; border-top: 1px solid #404040; }
.chzn-container .chzn-results .group-option { padding-left: 15px; }
.chzn-container-multi .chzn-drop .result-selected { display: none; }
.chzn-container .chzn-results-scroll { background: white; margin: 0 4px; position: absolute; text-align: center; width: 321px; /* This should be dynamic with js */ z-index: 1; }
.chzn-container .chzn-results-scroll span { display: inline-block; height: 17px; text-indent: -5000px; width: 9px; }
.chzn-container .chzn-results-scroll-down { bottom: 0; }
.chzn-container .chzn-results-scroll-down span { background: url('chosen-sprite.png') no-repeat -4px -3px; }
.chzn-container .chzn-results-scroll-up span { background: url('chosen-sprite.png') no-repeat -22px -3px; }

/*.chzn-container-active .chzn-single { border: 1px solid #5897fb; }
.chzn-container-active .chzn-single-with-drop { border: 1px solid #aaa; background-color: #eee; }*/
.chzn-container-active .chzn-single-with-drop div { background: transparent; border-left: none; }
.chzn-container-active .chzn-single-with-drop div b {  }
/*.chzn-container-active .chzn-choices { border: 1px solid #d5d5d5; }*/
.chzn-container-active .chzn-choices .search-field input { color: #eee !important; }

.chzn-disabled { cursor: default; opacity:0.5 !important; }
.chzn-disabled .chzn-single { cursor: default; }
.chzn-disabled .chzn-choices .search-choice .search-choice-close { cursor: default; }


/* ===== Notification messages ===== */

.nNote { cursor: pointer; clear: both; margin: 20px 0px 20px 0px; }
.nNote strong { margin-right: 5px; }
.nNote p { font-size: 11px; padding: 18px 25px 10px 54px; margin: 0px; color: #565656; }
.nMessage p { font-size: 11px; }
.nSuccess { background: #effeb9 url(../images/notifications/accept.png) no-repeat 15px center; border: 1px solid #c1d779; color: #3C5A01; }
.nFailure { background: #fccac1 url(../images/notifications/exclamation.png) no-repeat 15px center; border: 1px solid #e18b7c; color: #AC260F; }



/* =====  Media queries  ===== */

/* Devices and browsers with max of 799px */
@media only screen and (max-width: 799px) {

	.wrapper { width: 90%; padding: 0 5%; }
	.content { float: none; width: 90%; margin: 0 auto; }
	.stats ul li { width: 138px; }
	.content .title { width: auto; }

	.leftNav { float: none; background: url(../images/horSep.png) repeat-x; padding-top: 24px; text-align: center; padding-bottom: 20px; margin: 0; width: 100%; max-width: none; }
	.leftNav ul li { width: 49px; display: inline-block; margin: 0 0 4px 0; position: static; }
	.leftNav ul li a span { text-indent: -9999px; background-position: 16px; }
	.leftNav ul li a { margin-bottom: 3px; }

	.numberLeft { display: none!important; }
	.widgets .left { float: none; /*width: 344px;*/ width: 100%; margin-right: 0; }
	.widgets .right { float: none; /*width: 344px;*/ width: 100%; }

	ul.sub { position: absolute; width: 100%; left: 0; z-index: 999; border: 1px solid #232628; }
	ul.sub li { display: block; width: 50%; float: left; margin-bottom: 0; text-align: left; border-bottom: 1px solid #3a3f42; padding: 0; }
	ul.sub li a { padding: 8px 10px 8px 24px; background: url(../images/arrow.gif) no-repeat 12px 16px; }
	ul.sub li a:hover, .sub li a:active { background-position: 12px 16px; }
	ul.sub li:nth-child(even) {  }
	ul.sub li:nth-child(odd) { background: url(../images/tabsSepR.png) repeat-y 100% 0; }
	ul#menu { position: relative; }
	.leftNav .last { border-bottom: 1px solid #3a3f42; }

}

/* Devices and browsers with max of 767px and less than 799px */
@media only screen and (max-width: 767px) {

	.stats ul li { display: inline-block; float: none; margin-left: 18px; vertical-align: top; width: 21%; text-align: center; }
	.stats ul { text-align: center; }
	.count { display: inline-block; float: none; padding: 0 15px; text-align: center; margin-bottom: 4px; margin-right: 0; }

	.middleNav { float: none; margin-right: 0px; display: block; text-align: center; margin-top: 2px; }
	.middleNav ul {  }
	.middleNav ul li { text-align: center; display: inline-block; float: none; margin-left: 5%; position: relative; }
	.middleNav ul li:first-child { margin-left: 0; }

	#header { text-align: center; height: 100%; margin-bottom: 23px; }

	.logo { float: none; }

	.userNav ul li span { display: none; }
	.userNav ul li img { padding: 13px 14px 11px 14px; margin: 0; }
	.userNav ul li ul { right: -3px; left: auto; }

	.listData .cNote { display: none; }
	ul.listData li { padding: 0 0 1px 6px!important; }

	.rowElem > label { width: 100%; float: none; padding: 8px 0 6px 0; }
	.formRight { width: 100%; margin: 0; padding: 12px 0; float: none; }
	.rowElem .topLabel { padding: 5px 12px 5px 0; }

	.fc-header-right { width: 50%; }
	.ln-letters a { padding: 4px 2%; margin-bottom: 1px; }

	#eq span { margin-right: 0; margin-left: 30px; }
	#eq span:first-child { margin-left: 5px; }

	.formError { left: auto!important; right: 30px; }
	.formErrorContent { width: 140px; }

	.formRight div.checker, .formRight div.radio { padding-bottom: 0; padding-top: 0; margin-top: 2px; }
	div.selector { margin-bottom: 10px; }
	.formRight > label { padding-top: 0; }
	.rowElem > label { padding-bottom: 0; }
	.step label.error { padding-top: 3px; }

	.userNav ul li span { display: none; }
	.userNav ul li img { padding: 14px 14px 11px 14px; margin: 0; }
	.userNav ul li ul { right: -3px; left: auto; }

	label.error { margin: 8px 0 -2px 0; }

	.userWidget .checker { margin-top: 6px; }


}

/* Devices and browsers with min of 800px and max of 979px */
@media only screen and (min-width: 800px) and (max-width: 979px) {

	.formRight { width: 76%; }

}

/* Mobile Portrait Size to Mobile Landscape Size (devices and browsers) */
@media only screen and (min-width: 320px) and (max-width: 479px) {

	.logo { float: none; text-align: center; }
	.welcome { display: none; }
	.userNav { float: none; text-align: center; position: relative; }
	.userNav ul { height: 36px; text-align: center; }
	.userNav > ul > li { display: inline-block; float: none; position: static; margin-left: -3px; }
	.userNav ul li ul { height: auto; text-align: left; position: absolute; top: 36px; left: 50%; margin-left: -85px; width: 162px; }

	.middleNav ul { text-align: center; }
	.middleNav ul li { text-align: center; display: inline-block; float: none; margin: 0 2%; position: relative; width: 45%; margin-bottom: 10px; }
	.middleNav ul li:first-child { margin: 0 2%; }

	.stats ul { text-align: center; }
	.stats ul li { display: inline-block; float: none; margin: 5px; vertical-align: top; width: 46%; text-align: center; }
	.stats ul li:first-child { margin: 5px; }
	.count { display: inline-block; float: none; padding: 0 15px; text-align: center; margin-bottom: 4px; margin-right: 0; width: 75%; }

	.w40 { width: auto; }
	.floatleft, .floatright { float: none; }
	.floatright { margin-top: 95px; }
	.countLabel { text-align: center; }
	.dualControl { text-align: center; width: 90px; margin: 10px 1px; position: absolute; left: 50%; margin-left: -45px; }

	.moreFields ul li { width: 11.8%; }
	.moreFields ul li span { display: none; }

	.radio, .checker { clear: both; }

	.plupload_file_size, .plupload_file_status, .plupload_progress { width: 11%; }
	.plupload_disabled span { padding: 5px 8px 6px 8px; }
	.plupload_add span { background: url(../images/add.png) no-repeat 10px; padding: 5px 8px 6px 20px; display: block; }

	.fc-header-right { width: auto; }

	.dataTables_filter input[type="text"] { width: 86px; }
	.dataTables_paginate { float: left; margin: 25px 5px 35px 5px; }
	.dataTables_paginate .ui-buttonset .ui-button { margin: 0 1px; }

	.issueSummary .floatleft { display: none; }
	.ticketInfo { margin-left: 0; }

	.breadCrumb { overflow: hidden; height: 100%; }

	.pages li { display: inline-block; margin: 4px 2px; }

	#popup_container { min-width: 250px; max-width: 300px; }

	.el-finder-nav { width: 100px; }

	.errorPage { width: auto; }
	.errorPage .bubbles { display: none; }
	.errorPage .errorTitle, .weAreOff { width: auto; }
	.errorPage h1 { padding: 0; text-align: center; }

	#myList > li { clear: both; }
	ul.listData { float: left; text-align: center; margin: 3px 0 5px 0; font-size: 11px; }
	ul.listData li { padding: 0; margin: 0 20px 0 -6px; clear: both; }

	.displayNone { display: none; }

	.pieWidget { width: 100%; height: 250px; margin: 0 auto; }

	#header { margin-bottom: 15px; }

	.paging_full_numbers .ui-button { padding: 2px 5px; }

	table.display thead th div.DataTables_sort_wrapper { overflow: hidden; padding-right: 10px; }
	table.display thead th div.DataTables_sort_wrapper span { display: none; }
	table.display { table-layout: fixed; }
	table.display td { overflow: hidden; }
	.dataTables_length { float: none; margin: 6px auto 0 auto; width: 140px; }
	.dataTables_paginate { float: none; width: 260px; display: inline-block; text-align: center; margin-top: 2px; margin-bottom: 10px; }
	div.dataTables_wrapper .ui-widget-header { background: #3a4043; height: auto; }

	.chzn-container { width: 254px!important; }
	.chzn-container-single .chzn-search input { max-width: 218px; }
	/*.chzn-container-single .chzn-search input { max-width: 218px; }*/

}

/* Mobile Portrait Size to Mobile Landscape Size (devices and browsers) */
@media only screen and (min-width: 480px) and (max-width: 767px) {

	.moreFields ul li { width: 13.4%; }
	.moreFields ul li span { display: none; }


}

/* Mobile Landscape Size */
@media only screen and (width: 768px) {

	.ln-letters a { padding: 4px 7px; }
	.ln-letters a.ln-last { padding: 4px 22px 4px 22px; }

}

